*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contanier{
    max-width: 100%;
    max-height: 100vb;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
}



 .new article{
    display: flex;
    justify-content: center;
     align-items: center;
     flex-wrap: wrap;
       margin: 3rem 5rem;
     gap: 6rem;
    

 }
.color{
    width: 10rem;
    height: 10rem;
    border: 0.1rem solid black;
    border-radius: 50%;
}


.btn{
    display: flex;
    justify-content: center;
    padding: 2rem;

}



.btn input{
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid green;
    border-radius: 50%;
    font-size: 2rem;
    background-color: rgb(231, 178, 178);
}

